
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.App {
  justify-content: center;
  text-align: center;
}

.header{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(24, 7, 29);
}


body{
  /* background: linear-gradient(to bottom right, #f1c1fb, #301e32); */
  width: 100%;
  height: 100%;
}
.logo{
  color: white;
 font-size: 2.8rem;
 font-family: 'Anton', sans-serif;
}

a{
  text-decoration: none;
  color: rgb(112, 250, 204);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}
a:hover{
  color: rgb(87, 182, 233);
}

.card{
  border: 2px rgb(157, 136, 176) solid;
}

.button {
  display: block;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(56, 1, 76);
  box-shadow: 2px 2px 4px rgba(165, 249, 235, 0.3);

  color: #fdf5fd;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(99, 25, 126);
  color: rgb(190, 252, 251);
  box-shadow: 0px 2px 4px rgba(107, 94, 110, 0.3);
}

.form-label{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.3rem;
}
.text{
  color: rgb(24, 24, 24);
}
.movies{
  text-align: center;
  padding-top: 2rem;
}
.listMovies{
  font-size: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
